<mat-nav-list appaccordion="" class="navigation mat-nav-list" role="navigation">
	<div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text">
				</div>
			</div>
		</mat-list-item>
		<h5 class="mat-subheader ng-star-inserted" mat-subheader="">Main</h5>
	</div>
	<div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text"></div>
				<a appaccordiontoggle="" class="relative ng-star-inserted" href="/" style="flex-direction: row; box-sizing: border-box; display: flex;">
					<mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">explore</mat-icon>
					<span>Home</span>
					<span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
				</a>
			</div>
		</mat-list-item>
	</div>
	<div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text"></div>
				<a appaccordiontoggle="" class="relative ng-star-inserted" href="/widgets" style="flex-direction: row; box-sizing: border-box; display: flex;">
					<mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">photo</mat-icon>
					<span>Widgets</span>
					<span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
				</a>
			</div>
		</mat-list-item>
	</div>
	<!-- <div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text"></div>
			</div>
		</mat-list-item>
		<mat-divider class="my-1 mat-divider mat-divider-horizontal ng-star-inserted" role="separator" aria-orientation="horizontal"></mat-divider>
	</div> -->
	<div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text"></div>
			</div>
		</mat-list-item>
		<h5 class="mat-subheader ng-star-inserted" mat-subheader="">Apps</h5>
	</div>
	<div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text"></div>
				<a appaccordiontoggle="" class="relative ng-star-inserted" href="/calendar" style="flex-direction: row; box-sizing: border-box; display: flex;">
					<mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">date_range</mat-icon>
					<span>Calendar</span><span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
				</a>
			</div>
		</mat-list-item>
	</div>
	<div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text"></div>
				<a appaccordiontoggle="" class="relative ng-star-inserted" href="/messages" style="flex-direction: row; box-sizing: border-box; display: flex;">
					<mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">email</mat-icon>
					<span>Messages</span>
					<span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
				</a>
			</div>
		</mat-list-item>
	</div>
	<div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text"></div>
				<a appaccordiontoggle="" class="relative ng-star-inserted" href="/social" style="flex-direction: row; box-sizing: border-box; display: flex;">
					<mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person</mat-icon>
					<span>Social</span>
					<span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
					</span>
				</a>
			</div>
		</mat-list-item>
	</div>
	<div class="ng-star-inserted" style="">
		<mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted open">
			<div class="mat-list-item-content">
				<div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
				<div class="mat-list-text"></div>
				<a appaccordiontoggle="" class="relative ng-star-inserted" href="/taskboard" style="flex-direction: row; box-sizing: border-box; display: flex;">
					<mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">view_column</mat-icon>
					<span>Taskboard</span><span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
				</a>
			</div>
		</mat-list-item>
	</div>
</mat-nav-list>